/* ********** FONTFACE ********** */
@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Light.ttf);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}
/* @font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}*/
/* @font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: normal;
} */
@font-face {
    font-family: Heavitas;
    src: url(../fonts/Heavitas.ttf);
    font-weight: 400;
    font-style: normal;
}

/* ----------------------------- */
	$scene-pad: $grid-gutter-width * 3;
	$hero-pad: $grid-gutter-width * 6;
/* ********** HELPERS ********** */

.text-xs{
	font-size: $font-size-xsmall;
}
.text-s{
	font-size: $font-size-small;
}
.text-m{
	font-size: $font-size-base;
}
.text-l{
	font-size: $font-size-base * 2;
}
.text-xl{
	font-size: $font-size-base * 2.5;
}
@each $code, $color in $assoc-colors{
	.#{$code} {
		color: $color!important;
	}
	.bg-#{$code}{
		background-color : $color!important;
	}
}
.bg-white{
	color: $darkgrey;
	h1,h2,h3,h4,p,span{
		color: $darkgrey;
	}
}
.bg-transp{
	background-color: transparent!important;
}
.ldarkgrey{
	color : $l_darkgrey!important;
}
.lldarkgrey{
	color : $ll_darkgrey!important;
}
.bg-ldarkgrey{
	background-color : $l_darkgrey!important;
}
.bg-lldarkgrey{
	background-color : $ll_darkgrey!important;
}
.bd{
	&-1,&-2,&-3,&-4,&-5,&-10{
		border-style: solid;
	}
	@each $size in 1 2 3 4 5 10{
		&-#{$size}{
			border-width: $size + px;
		}
	}
	@each $code, $color in $assoc-colors{
		&-#{$code} {
			border-color: $color;
		}
	}
}
.valign-middle{
	&:not(-xs),
	&:not(-sm),
	&:not(-md),
	&:not(-lg){
	    display: flex;
		align-items: center;
	}
	@each $dim in xs sm md lg{
		&-#{$dim} {
		@media screen and (min-width: #{"$screen-" + $dim + "-min"}) {
		    display: flex;
			align-items: center;
		}
		}
	}
}
.text{
	@each $dir in left center right{
		&-#{$dir}{
			@each $dim in lg md sm xs{
				&-#{$dim} {
				@media screen and (min-width: #{"$screen-" + $dim + "-min"}) {
					text-align: #{$dir};
				}
				}
			}
		}
	}
}
.txt-shad{
	text-shadow: $txt-shadows;
}
.box-shad{
	box-shadow: $box-shadows;
}
.hero-shad {
    background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 64%, rgba(0,0,0,0) 100%);
}
.blend-overlay{
	mix-blend-mode: overlay;
}
.no-border{
	border: none!important;
}
.right-block{
	margin-right: 0;
	margin-left: auto;
	@each $dim in lg md sm xs{
		&-#{$dim} {
		@media screen and (min-width: #{"$screen-" + $dim + "-min"}) {
			margin-right: 0!important;
			margin-left: auto!important;
		}
		}
	}

}
.left-block{
	margin-left: 0;
	margin-right: auto;
	@each $dim in lg md sm xs{
		&-#{$dim} {
		@media screen and (min-width: #{"$screen-" + $dim + "-min"}) {
			margin-left: 0!important;
			margin-right: auto!important;
		}
		}
	}

}
.center-block{
	@each $dim in lg md sm xs{
		&-#{$dim} {
		@media screen and (min-width: #{"$screen-" + $dim + "-min"}) {
			margin-left: auto!important;
			margin-right: auto!important;
		}
		}
	}

}
.scene{
	position: relative;
	padding: $scene-pad 0;
	z-index: $normal_z;
}
.hero{
	padding: ($hero-pad/2) 0;
	@media screen and (min-width: $screen-sm-min) {
		padding: $hero-pad 0;
	}
}
.full-hero {
	min-height: 100vh;
	display: flex;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
	@each $dim in lg md sm xs{
		&-#{$dim} {
			@media screen and (min-width: #{"$screen-" + $dim + "-min"}) {
				min-height: 100vh;
				display: flex;
				align-items: center;
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
}
@keyframes LeftBefStripes{
	0%,60%,100%{
		border-width: 515px 0 515px 60vw;
	}
	30%{
		border-width: 515px 0 515px 56vw;
	}
}
@keyframes LeftAftStripes{
	0%,60%,100%{
		border-width: 515px 0 515px 50vw;
	}
	30%{
		border-width: 515px 0 515px 45vw;
	}
}
@keyframes RightBefStripes{
	0%,60%,100%{
		border-width: 515px 60vw 515px 0;
	}
	30%{
		border-width: 515px 56vw 515px 0;
	}
}
@keyframes RightAftStripes{
	0%,60%,100%{
		border-width: 515px 50vw 515px 0;
	}
	30%{
		border-width: 515px 45vw 515px 0;
	}
}
			
.bg-stripes{
	&-left,
	&-right{
		position: relative;
		overflow: hidden;
		&:before,
		&:after{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: 0;
			bottom: 0;
			z-index: 0;
			border-style: solid;
			pointer-events: none;
			animation-iteration-count: infinite;
			animation-duration: 20s;
		}
		&:before{
			opacity: 0.5;
		}
		&:after {
			opacity: 0.3;
		}
	}
	&-left{
		&:before,
		&:after{
			left: 0;
			border-color: transparent transparent transparent $darkgrey;
			@each $code, $color in $assoc-colors{
				&-#{$code} {
					border-color: transparent transparent transparent $color;
				}
			}
		}
		&:before{
			animation-name: LeftBefStripes;
			border-width: 515px 0 515px 60vw;
		}
		&:after {
			animation-name: LeftAftStripes;
			border-width: 515px 0 515px 50vw;
		}
	}
	&-right{
		&:before,
		&:after{
			right: 0;
			border-color: transparent $darkgrey transparent transparent;
			@each $code, $color in $assoc-colors{
				&-#{$code} {
					border-color: transparent $color transparent transparent;
				}
			}
		}
		&:before{
			animation-name: RightBefStripes;
			border-width: 515px 60vw 515px 0;
		}
		&:after {
			animation-name: RightAftStripes;
			border-width: 515px 50vw 515px 0;
		}
	}
}
@each $page, $color in $pages-infos{
	body.#{$page} .bg-stripes{
		&-left{
			&:before,
			&:after{
				border-color: transparent transparent transparent $color;
			}
		}
		&-right{
			&:before,
			&:after{
				border-color: transparent $color transparent transparent;
			}
		}
	}
}
.tg{
	&-br,
	&-bl{
		position: relative;
		&:after{
			content: '';
			position: absolute;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
		}
	}
	&-tr,
	&-tl{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
		}
	}
	&-br:after,
	&-bl:after{
		bottom: 0;
	}
	&-tr:before,
	&-tl:before{
		top: 0;
	}
	&-br{
		&:after{
			border-width: 0 0 $scene-pad 100vw;
		}
		&.tg-white:after{
			border-color: transparent transparent #ffffff transparent;
		}
		&.tg-darkgrey:after{
			border-color: transparent transparent $darkgrey transparent;
		}
	}
	&-bl{
		&:after{
			border-width: $scene-pad 0 0 100vw;
		}
		&.tg-white:after{
			border-color: transparent transparent transparent #ffffff;
		}
		&.tg-darkgrey:after{
			border-color: transparent transparent transparent  $darkgrey;
		}
	}
	&-tr{
		&:before{
			border-width: $scene-pad 0 0 100vw;
		}
		&.tg-white:before{
			border-color: #ffffff transparent transparent transparent;
		}
		&.tg-darkgrey:before{
			border-color:  $darkgrey transparent transparent transparent;
		}
	}
	&-tl{
		&:before{
			border-width: $scene-pad 100vw 0 0;
		}
		&.tg-white:before{
			border-color: #ffffff transparent transparent transparent;
		}
		&.tg-darkgrey:before{
			border-color:  $darkgrey transparent transparent transparent;
		}
	}
}
.btn{
	font-family: $headings-font-family;
	font-size: $font-size-base;
	background-color: $pink;
	color: #fff;
	height: 44px;
	box-shadow: $box-shadows;
	line-height: 32px; //height - padding (2x 6px)
	transition: 300ms;
	i{
		color: #fff!important;
	}
	span{
		margin: 0 30px;
	}
	&.btn-big{
		height: 70px;
		font-size: 30px;
		line-height: 64px;
	}
	&.btn-small{
		height: 35px;
		font-size: $font-size-small;
		line-height: 23px; //height - padding (2x 6px)
	}
	&.btn-circle{
		border-radius: 50%;
		text-align: center;
		&.btn-big{
			width: 70px;
		}
		&.btn-small{
			width: 35px;
		}
	}
	@keyframes BGSplitBefore{
		0%,60%,100%{
			border-width: 71px 0 0 176px;
		}
		30%{
			border-width: 51px 0 0 156px;
		}
	}
	@keyframes BGSplitAfter{
		0%,60%,100%{
			border-width: 35.5px 90px 35.5px 0;
		}
		30%{
			border-width: 28.5px 70px 23.5px 0;
		}
	}
	&.btn-bgsplit{
		position: relative;
		overflow: hidden;
		&:before,
		&:after{
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			right: 0;
			top: 0;
			border-style: solid;
			opacity: 0.2;
			z-index: 0;
			animation-iteration-count: infinite;
			animation-duration: 10s;

		}
		&:before{
		 	border-width: 71px 0 0 176px; // 51px 0 0 156px
			animation-name: BGSplitBefore;
		}
		&:after{
		    border-width: 35.5px 90px 35.5px 0; //28.5px 70px 23.5px 0
			animation-name: BGSplitAfter;
		}
		span{
			position: relative;
			z-index: $normal_z;
			margin: 0;
			color: inherit;
		}
		@each $code, $color in $assoc-colors{
			&.bg-#{$code}:before {
				border-color: darken($color, 30%) transparent transparent transparent;
			}
			&.bg-#{$code}:after {
				border-color: transparent lighten($color, 30%) transparent transparent;
			}
		}
	}
	&:focus,&:active{
		outline:none;
	}
	&:hover{
		box-shadow: none;
    	transform: translateY(2px) scale(0.98);
    	color: darken(#ffffff, 20%);
    	&.bg-purple{
    		color: lighten($purple, 30%);
    	}
    	&.bg-pink{
    		color: lighten($pink, 30%);
    	}
	}
}
.mg{
	&-half{
		margin: $main-margin/2;
	}
	&-quarter{
		margin: $main-margin/4;
	}
	@each $dir in top bottom left right{
		&-#{$dir}{
			margin-#{$dir}: $main-margin;
			&-half{
				margin-#{$dir}: $main-margin/2;
			}
			&-quarter{
				margin-#{$dir}: $main-margin/4;
			}
		}
	}
	@each $dim in xs sm md lg{
		&-#{$dim} {
		@media screen and (min-width: #{"$screen-" + $dim + "-min"}) {
			&-top{
				margin-top: $main-margin;
				&-half{
					margin-top: $main-margin/2;
				}
				&-quarter{
					margin-top: $main-margin/4;
				}
			}
			&-bottom{
				margin-bottom: $main-margin;
				&-half{
					margin-bottom: $main-margin/2;
				}
				&-quarter{
					margin-bottom: $main-margin/4;
				}
			}
			&-left{
				margin-left: $main-margin;
				&-half{
					margin-left: $main-margin/2;
				}
				&-quarter{
					margin-left: $main-margin/4;
				}
			}
			&-right{
				margin-right: $main-margin;
				&-half{
					margin-right: $main-margin/2;
				}
				&-quarter{
					margin-right: $main-margin/4;
				}
			}
		}
		}
	}
}
.no-padding,{
	&:not(-top),
	&:not(-bottom),
	&:not(-left),
	&:not(-right){
		padding: 0;
	}
	&-top{
		padding-top: 0;
	}
	&-bottom{
		padding-bottom: 0;
	}
	&-left{
		padding-left: 0;
	}
	&-right{
		padding-right: 0;
	}
	@each $dim in xs sm md lg{
		&-#{$dim} {
		@media screen and (min-width: #{"$screen-" + $dim + "-min"}) {
			&:not(-top),
			&:not(-bottom),
			&:not(-left),
			&:not(-right){
				padding: 0!important;
			}
			&-top{
				padding-top: 0!important;
			}
			&-bottom{
				padding-bottom: 0!important;
			}
			&-left{
				padding-left: 0!important;
			}
			&-right{
				padding-right: 0!important;
			}
		}
		}
	}
}
.no-margin,{
	&:not(-top),
	&:not(-bottom),
	&:not(-left),
	&:not(-right){
		margin: 0;
	}
	&-top{
		margin-top: 0;
	}
	&-bottom{
		margin-bottom: 0;
	}
	&-left{
		margin-left: 0;
	}
	&-right{
		margin-right: 0;
	}
	@each $dim in xs sm md lg{
		&-#{$dim} {
		@media screen and (min-width: #{"$screen-" + $dim + "-min"}) {
			&:not(-top),
			&:not(-bottom),
			&:not(-left),
			&:not(-right){
				margin: 0!important;
			}
			&-top{
				margin-top: 0!important;
			}
			&-bottom{
				margin-bottom: 0!important;
			}
			&-left{
				margin-left: 0!important;
			}
			&-right{
				margin-right: 0!important;
			}
		}
		}
	}
}
.lh{
	@each $lh in 1 2 3 4 5 10{
		&#{$lh}{
			&:not(-block),
			&:not(-inlineblock),
			&-block,
			&-inlineblock{
				overflow: hidden;
				line-height: 1.2em;
				height: $lh * 1.2em;
			}
			&-block{
				display: block;
			}
			&-inlineblock{
				display: inline-block;
			}
		}
	}
}
.list-nb{
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 28px;
	border-radius: 50%;
	text-indent: 2px;
}
.rev-margin{
	@media screen and (min-width: $screen-lg-min) {
		margin-left: -#{$grid-gutter-width / 2};
		margin-right: -#{$grid-gutter-width / 2};
	}
}
.fullpage{
	position: relative;
	height: 100%;
	width: 100%;
}
.fullwidth{
	position: relative;
	width: 100%;
}
.fullheight{
	position: relative;
	height: 100%;
}
.no-height{
	min-height: 0;
	height: 0;
}
.map-container{
	iframe{
		pointer-events: none;
	}
}
/* ----------------------------- */
/* ********* SPECIFIC ********** */
body{
	letter-spacing: $letter-spacing-base;
}
h1,h2,h3,h4{
	margin:0;
	margin-bottom: $grid-gutter-width/2;
}
h1{
	@media screen and (max-width: $screen-xs-max) {
		font-size: 30px;
	}
}
h2{
	@media screen and (max-width: $screen-xs-max) {
		font-size: 25px;
	}
}
h4{
    font-family: $font-family-sans-serif;
    font-style: italic;
}
.bgsample{
	opacity: 0;
}
main.main{
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	background-color: transparent;
	.bg-main{
		position: fixed;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: $darkgrey;
		background-blend-mode: multiply;
		z-index: 0;
	}
}
body .pcolor{
	color: $blue!important;
}
body .bg-pcolor{
	background-color: $blue!important;
	&.btn-bgsplit:before {
		border-color: darken($blue, 30%) transparent transparent transparent;
	}
	&.btn-bgsplit:after {
		border-color: transparent lighten($blue, 30%) transparent transparent;
	}
}
@each $page, $color, $imgurl in $pages-infos{
	body.#{$page} main.main{
		.bg-main{
			background-image: url($imgurl);
		}
	}
	body.#{$page} .pcolor{
		color: $color!important;
	}
	body.#{$page} .bg-pcolor{
		background-color: $color!important;
		&.btn-bgsplit:before {
			border-color: darken($color, 30%) transparent transparent transparent;
		}
		&.btn-bgsplit:after {
			border-color: transparent lighten($color, 30%) transparent transparent;
		}
	}
}
body[class$='-office'] .pcolor{
	color: $green!important;
}
body[class$='-office'] .bg-pcolor{
	background-color: $green!important;
	&.btn-bgsplit:before {
		border-color: darken($green, 30%) transparent transparent transparent;
	}
	&.btn-bgsplit:after {
		border-color: transparent lighten($green, 30%) transparent transparent;
	}
}

body.resource-template-default{
	main.main{
		.bg-main{
			background-image: url('../images/jobs-bg-bw.jpg');
		}
	}
	&.available{
		.pcolor{
			color: $green!important;
		}
		.bg-pcolor{
			background-color: $green!important;
			&.btn-bgsplit:before {
				border-color: darken($green, 30%) transparent transparent transparent;
			}
			&.btn-bgsplit:after {
				border-color: transparent lighten($green, 30%) transparent transparent;
			}
		}
		.bg-stripes{
			&-left{
				&:before,
				&:after{
					border-color: transparent transparent transparent $green;
				}
			}
			&-right{
				&:before,
				&:after{
					border-color: transparent $green transparent transparent;
				}
			}
		}
	}
	&.available-soon{
		.pcolor{
			color: $gold!important;
		}
		.bg-pcolor{
			background-color: $gold!important;
			&.btn-bgsplit:before {
				border-color: darken($gold, 30%) transparent transparent transparent;
			}
			&.btn-bgsplit:after {
				border-color: transparent lighten($gold, 30%) transparent transparent;
			}
		}
	}
	.bg-stripes{
		&-left{
			&:before,
			&:after{
				border-color: transparent transparent transparent $gold;
			}
		}
		&-right{
			&:before,
			&:after{
				border-color: transparent $gold transparent transparent;
			}
		}
	}
}

.carousel{
	&:not(.vertical){
		height: 500px;
		@media screen and (min-width: $screen-sm-min) {
			height: 300px;
		}
	}
	.carousel-inner{
		height: 100%;
		> .item{
			height: 100%;
		}
	}
	&.vertical{
		.carousel-60-col{
			height: 60%;
		}
		.carousel-inner {
			width: auto;
			> .item {
				width: auto;
				transition: 0.6s ease-in-out top;
			    @media all and (transform-3d), (-webkit-transform-3d) {
					transition: 0.6s ease-in-out;
					&.next, &.active.right {
						transform: translate3d(0, 100%, 0);
						top: 0;
					}
					&.prev, &.active.left {
						transform: translate3d(0, -100%, 0);
						top: 0;
					}
					&.next.left, &.prev.right, &.active {
						transform: translate3d(0, 0, 0);
						top: 0;
					}
				}
	  		}
			> .active, > .next, > .prev {
				display: block;
			}
			> .active {
				top: 0;
			}
			> .next, > .prev {
				position: absolute;
				top: 0;
				width: 100%;
			}
			> .next {
				top: 100%;
			}
			> .prev {
				top: -100%;
			}
			> .next.left, > .prev.right {
				top: 0;
			}
			> .active.left {
				top: -100%;
			}
			> .active.right {
				top: 100%;
			}
		}
		.carousel-control{
			width: 100%;
		}
	}
	.carousel-thumb {
		position: absolute;
		bottom: 28px;
		top: 28px;
		left: 0;
		right: 0;
		overflow: hidden;
		.carousel-indicators{
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
			width: 100%;
			margin: 0;
			position: relative;
			li{
				display: block;
				width: 100%;
				height: auto;
				background: none;
				border: none;
				text-align: center;
				text-indent: 0;
				margin: 5px 0;
				border-radius: 0;
				opacity: .2;
				transition: 0.2s ease-in-out;
				&.active{
					opacity: 1;
					img{
						box-shadow: $box-shadows;
					}
				}
			}
		}
	}
	.carousel-control{
		background-image: none!important;
		text-indent: -9999px;
		overflow: hidden;
		@media screen and (min-width: $screen-sm-min) {
			width: 5%;
		}

		&[class*=' bg-'],
		&[class^='bg-']{
			opacity: 1;
			&:hover{
				&:after{
					mix-blend-mode: normal;
					opacity: .4;
				}
			}
		}
/* 		&:not([class*=' bg-']):not([class^='bg-']){
			@media screen and (min-width: $screen-sm-min) {
				width: calc((100vw - #{$container-sm} + #{$grid-gutter-width}) / 2);
			}
			@media screen and (min-width: $screen-md-min) {
				width: calc((100vw - #{$container-md} + #{$grid-gutter-width}) / 2);
			}
			@media screen and (min-width: $screen-lg-min) {
				width: calc((100vw - #{$container-lg}) / 2);
			}
		} */
		&:after{
			content: '';
			background-image: url(../images/arrow.png);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			display: block;
			width: 25px;
			height: 18px;
			position: absolute;
		    top: 50%;
		    margin-top: -($font-size-base*2.5/2);
			-webkit-filter: drop-shadow($txt-shadows);
			filter: drop-shadow($txt-shadows);
		}
		&.relocate:after{
			@media screen and (max-width: $screen-xs-max) {
				top: 107.5px;
			}
		}
		&.dark:after{
			background-image: url(../images/arrow_darkgrey.png);
		}
		&.right:after{
			transform: rotate(-90deg);
			left: 0;
		}
		&.left:after{
			transform: rotate(90deg);
			right: 0;
		}
	    &.up:after{
	    	transform: rotate(-180deg);
	    }
	    &.down:after{
	    }
		&.up,
		&.down{
			width: 100%;
			height: 18px;
			left: 0;
			right: 0;
			&:after{
				position: relative;
    			top: auto;
    			margin: 0;
				left: 50%;
				margin-left: -17.5px;
				right: 0;
			}
		}
		&.up{
			top: 0;
			bottom: auto;
		}
		&.down{
			top:auto;
			bottom:0;
		}
	}
}

figure.testimonial{
	height: 100%;
	position: relative;
	> div {
		position: relative;
	}
	blockquote{
		font-size: $font-size-base;
		font-style: italic;
		font-weight: 100;
		padding: 0;
		margin:0;
		// padding-left: $main-margin/2;
		border:0;
		position: relative;
	}
	figcaption{
		position: absolute;
		bottom: -3em;
		right: 0;
		text-align: right;
		span{
			display: block;
			&.fromto{
				font-weight: 100;
			}
			&.author{
				font-size: $font-size-h1;
				line-height: 0.7;
			}
		}
	}
}

#heroHeader{
	height: 100vh;
	overflow: hidden;
	.carousel-indicators{
		display: none;
	}
	.carousel-inner{
		> .item{
			.carousel-caption{
				@extend .container;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				text-align: center;
				padding-top: 0;
				padding-bottom: 0;
				h4{
					@extend h1;
					box-shadow: $box-shadows;
					text-shadow: $txt-shadows;
					font-style: normal;
				}
				a{
					position: absolute;
					bottom: $main-margin/2;
					right: 0;
					color: #fff;
					text-shadow: $txt-shadows;
					span.fa{
						margin-right: 5px;
					}
				}
			}
		}
	}
	> img{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	> div.container{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
	}	
}
#heroGoDown{
	content: url(../images/arrow.png);
	position: absolute;
	top: -($main-margin/2) - 35px ; //margin we want - its own height
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0.5;
    text-align: center;
	-webkit-filter: drop-shadow($txt-shadows);
	filter: drop-shadow($txt-shadows);
    cursor: pointer;
    z-index: $normal_z;
}