// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$iglublue : 				#4fcde8;
$blue :						$iglublue;
$turquoise :				#3cd9bd;
$pink :						#e02e85;
$purple :					#8c38c7;
$gold :						#efa734;
$green :					#91ea35;
$darkgrey : 				#252525;
$l_darkgrey :				#363636;
$ll_darkgrey :				#585858;
$fbcolor :					#3b5998;
$twcolor :					#00aced;
$incolor :					#007bb6;
$scene-height :				80vh;
$txt-shadows :				0 1px 2px rgba(0,0,0,.6);
$box-shadows :				0 1px 2px 0 rgba(0,0,0,.6);
$main-margin :				60px;
$brand-primary:         	$iglublue;

// Zindex
$ct_panel_z :				1000;
$faq_panel_z :				999;
$bg_panels_z :				998;
$menu_z :					900;
$normal_z :					1;

/* -- bootstrap overwritting -- */
$font-family-sans-serif:	Ubuntu;
$font-size-base:			16px;
$font-size-small:			14px;
$font-size-xsmall:			12px;
$letter-spacing-base:	  	0.15em;
$brand-danger:				$pink;
$text-color:				#fff;
$headings-color:			#fff;
$link-color:				#fff;
$navbar-height:				60px;
$navbar-default-toggle-border-color: transparent;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: #fff;
$headings-font-family:		Heavitas;
$headings-font-weight:		400;
$font-size-h1:				40px;
$font-size-h3:				$font-size-base;
$font-size-h4:				$font-size-base;
$headings-line-height:		1;
$zindex-navbar-fixed:		$menu_z;

$assoc-colors:
	(blue $blue),
	(pink $pink),
	(purple $purple),
	(turquoise $turquoise),
	(gold $gold),
	(green $green),
	(darkgrey $darkgrey),
	(white #ffffff),
	(black #000000);

$pages-infos:
	(home $blue '../images/home-bg-bw.jpg'),
	(join $pink '../images/relocate-bg-bw.jpg'),
	(hire $purple '../images/outsource-bg-bw.jpg'),
	(blog $turquoise '../images/blog-bg-bw.jpg'),
	(partners $gold '../images/site-bg-bw.jpg'),
	(error404 $blue '../images/site-bg-bw.jpg'),
	(about $gold '../images/site-bg-bw.jpg'),
	(resources $purple '../images/jobs-bg-bw.jpg'),
	(startups $pink '../images/startups-bg-bw.jpg'),
	(jobs $turquoise '../images/jobs-bg-bw.jpg'),
	(job-template-default $turquoise  '../images/jobs-bg-bw.jpg');
/* ----------------------------- */

