// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

.ui-datepicker{
	@extend .bg-pcolor;
    padding: 15px;
	color: $darkgrey;
	.ui-datepicker-prev,
	.ui-datepicker-next{
		// extend FA doesn't work..
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		cursor: pointer;
		font-size: $font-size-small;
		color: white;
		span.ui-icon{
			display: none;
		}
		&:hover,
		&:focus{
			text-decoration: none;
		}
	}
	.ui-datepicker-prev{
		&:before {
			content: "\f137";
		}
		float: left;
	}
	.ui-datepicker-next{
		&:before {
			content: "\f138";
		}
		float: right;
	}
	.ui-datepicker-header {
    	margin-bottom: $grid-gutter-width/2;
	}
	.ui-datepicker-title{
		padding-top: 10px;
    	clear: both;
		select{
			color: $darkgrey;
			width: calc(50% - 5px);
			margin: 0 5px;
			border: 0;
			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.ui-datepicker-calendar{
		td,th{
			text-align: center;
			padding: 2px;
			&.ui-datepicker-week-end {
    			background-color: rgba(255,255,255,.2);
			}
			&.ui-datepicker-current-day{
				background-color: white;
				border-radius: 50%;
			}
		}
		th{
			color: white;
		}
		a.ui-state-default{
			color: $darkgrey;
		}
	}
}