.contact-border{
	border-bottom: 2px solid #1a1a1a;
	box-shadow: 0 2px 0 #2a2a2a;
}
.newsletter-form{
	input[type='submit']{
		@extend .btn;
		@extend .btn-big;
		@extend .btn-circle;
		background-color: $ll_darkgrey;
		color: $darkgrey;
		position: absolute;
		height: 40px;
		width: 40px;
		line-height: 46px;
		font-size: 25px;
		padding: 0;
		text-indent: 4px;
		right: ceil(($grid-gutter-width / 2));
		top: 7px;
		transition:  0.2s ease-in-out;
		&.bg-pcolor{
			color: #ffffff;
		}
		&:hover,
		&:focus{
			color: $darkgrey;
			&.bg-pcolor{
				color: #ffffff;
			}
		}
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.validation_error,
	.gfield_required{
		display: none;
	}
	.validation_message{
		@extend .pcolor;
	}
	label{
	    font-size: 14px;
	    letter-spacing: 0.2px;
		@media screen and (min-width: $screen-xs-min) {
			font-size: 19px;
		}
		@media screen and (min-width: $screen-lg-min) {
			font-size: 24px;
		}
		font-family: $headings-font-family;
		line-height: 60px;
		left: ceil(($grid-gutter-width / 2));
		transition: opacity 0.2s ease-in-out;
		color: $ll_darkgrey;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		cursor: text;
		-webkit-user-select: none; 
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&.hid{
			opacity: 0;
		}
	}
	input[type='email']{
		color: #fff;
		background-color: transparent;
		border:none;
		border-radius:0;
		outline: none;
		font-family: inherit;
		cursor: text;
		box-shadow: none;
		width: 100%;
		padding: 0;
		font-size: 17px;
		@media screen and (min-width: $screen-xs-min) {
			font-size: 20px;
		}
		@media screen and (min-width: $screen-lg-min) {
			font-size: 30px;
		}
		padding-right: 55px;
		height: 60px;
		line-height: 60px;
		border-bottom: 1px solid #000000;
		&:focus{
			outline: none;
			box-shadow: none;

		}
/* 		&:not(:focus):not(.has-content)~button{
			background: $l_darkgrey;
			i{
				color: $darkgrey!important;
			}
		}
 		&:focus,
		&.has-content{
			&~label{
				opacity: 0;
			}
		}
 */

	}
}
#footer{
	.footer-offices{
		.lnk-chevron{
			position: absolute;
			right: $grid-gutter-width/2;
			top: 0;
		}
		.address {
			display: block;
			padding: 0 20px;
			font-size: 14px;
			position: relative;
			.lnk-mapmarker{
				position: absolute;
				right: 2px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.lnk-offices{
			padding: 0 25px;
		}
	}
	.footer-nav{
		ul.social-links{
			display: inline-block;
			list-style: none;
			li{
				display: inline-block;
				a{
					border: 3px solid;
					color: $ll_darkgrey;
					padding: 0;
					width: 38px;
					height: 38px;
					text-align: center;
					line-height: 36px;
					font-size: 20px;
					text-indent: 1px;
					&:hover,
					&:visited,
					&:focus{
						background-color: transparent;
					}
					&.facebook:hover{
						border-color: $fbcolor;
						i{
							color: $fbcolor;
						}
					}
					&.twitter:hover{
						border-color: $twcolor;
						i{
							color: $twcolor;
						}
					}
					&.linkedin:hover{
						border-color: $incolor;
						i{
							color: $incolor;
						}
					}
				}
			}
		}
		nav.navbar{
			min-height: auto;
			margin-bottom:0;
			li{
				a{
					padding-top:10px!important;
					padding-bottom:10px!important;
					&:hover,
					&:focus{
						background-color: transparent;
						text-decoration: underline;
					}
				}
			}
		}
	}
}
#contact{
	position: fixed;
	left: 0;
	right: 0;
	z-index: $ct_panel_z;
	height: 88vh;
	opacity: 0;
	bottom: -100vh;
	box-shadow: 0 -1px 2px 0 rgba(0,0,0,.6);
	transition: bottom 500ms;
	&.visible{
		bottom: 0;
		opacity: 1;
	}
	#closeContact {
		position: absolute;
		top: -22px;
		right: 22px;
	}
	.contact-form{
		position: absolute;
		top:0;bottom:0;
		left:0;right:0;
		overflow: auto;
		h2{
			@media screen and (max-width: $screen-xs-min) {
				font-size: 17px;
			}
			position: relative;
			top: 15px;
			margin: 0;
			color: $darkgrey;
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
		}
		.gfield_radio{
			li{
				display: inline-block;
				margin-right: $grid-gutter-width;
			}
		}
		.gform_body{
			@extend .row;
		}
		.ginput_container{
			input:not([type='radio']):not([type='checkbox']),
			textarea,
			select{
				width: 100%;
				border: none;
				border-bottom: 1px solid;
				padding: 15px 0;
				outline: none;
			}
			textarea{
				height: 18vh;
				resize: vertical;
			}
			input[type='radio']{
				margin-right: $grid-gutter-width/2;
			}
			select{
				background: white;
				height: 53px;
			}
		}
		.gfield{
			margin-bottom: $grid-gutter-width/2;
		}
		.gfield_required{
			@extend .pcolor;
		}
		.gfield_label{
			margin-bottom: 0;
			font-family: $headings-font-family;
			font-weight: normal;
			font-size: $font-size-small;
			color: $darkgrey;
		}
		.gfield_description{
			@extend .pcolor;
			font-size: $font-size-small;
		}
		.validation_error,
		.validation_message{
			color: $brand-danger!important;
			font-size: $font-size-small;
		}
		.gform_footer{
			margin-top: $grid-gutter-width/2;
			margin-bottom: $grid-gutter-width;
		}
		.gform_button{
			@extend .bg-pcolor;
			@extend .btn;
			@media screen and (max-width: $screen-xs-min) {
				height: 30px;
				line-height: 21px;
				font-size: 13px;
			}
		}
		.gfield_visibility_{
			display: none;
		}
		#field_1_9{ //WARNING : this is for the reCAPTCHA field that can't receive new classes
			@extend .col-xs-12;
			@extend .col-sm-6;
		}
		.relocate-choices:not(.chosen){
			display: none;
		}
		.relocate-choices.chosen{
			display: block;
		}
		.gfield-fixedheight{
			@media screen and (min-width: $screen-sm-min) {
				height: 80px;
			}
		}
	}
}
#learn_more{
	position: fixed;
	top: 0;
	left: 100%;
	right: auto;
	bottom: 0;
	z-index: $faq_panel_z;
	width: 30vw;
	min-width: 300px;
	padding: 15px 7px 15px 15px;
	opacity: 0;
	box-shadow: $box-shadows;
	transition: right 500ms;
	background-color:  transparentize($darkgrey, 0.1);
	overflow: auto;
	&.visible{
		right: 0;
		left: auto;
		opacity: 1;
	}
	#closeLearnMore{
		position: absolute;
		top: 0;
		bottom: 0;
		width: auto;
		height: auto;
		border-radius: 0;
		left: 0px;
		padding: 3px;
		&:hover,
		&:focus{
			transform: none;

		}
	}
	.panel-group{
		overflow: auto;
	}
	.panel{
		border-radius: 0;
		background-color: transparent;
		&+.panel{
			margin: 0;
		}
		.panel-heading{
			padding: 0;
			border-radius: 0;
		}
		.panel-title{
			display: block;
			font-size: $font-size-base;
			a{
				display: block;
				padding: 10px 15px;
			}
		}
		.panel-body{
			ul{
				margin: 0;
				padding: 0 0 0 25px;
				list-style-type: thai;
				list-style-position: outside;
				li{
					margin: 10px 0;
				}
			}
		}
	}
}
body{
	input#news_email{
		&:focus,
		&.has-content{
			border-bottom-color: $blue!important;
		}
		&~button{
			background-color: $blue;
		}
	}
}
@each $page, $color in $pages-infos{
	body.#{$page}{
		input#news_email{
			&:focus,
			&.has-content{
				border-bottom-color: $color!important;
			}
			&~button{
				background-color: $color;
			}
		}
	}
}
#bgHidder {
    position: fixed;
    z-index: $bg_panels_z;
    background-color: rgba(0,0,0,.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    display: none;
    &.visible{
    	display: block;
    }
}
body.noscroll{
	overflow: hidden;
}