header{
	min-height: 0!important;
	nav.navbar-default{
		color: #fff;
		border:none;
		transition: 300ms ease-in-out;
		.navbar-brand{
			padding: 0 15px;
			img{
				display: inline-block;
				max-height: 60%;
				width:auto;
				transition: 300ms ease-in-out;
			}
		}
		.navbar-nav > li > a,
		.navbar-nav > li.active > a{
			background: none;
			color: #fff;
			transition: 300ms ease-in-out;
			span.fa-home{
				font-size: $font-size-base*1.5;
			}
		}
		.navbar-nav > li.home-ico > a{
			text-indent: -9999px;
			content: url(../images/home-iglu.png);
			left: 50%;
    		margin-left: -28px;
			mix-blend-mode: difference;
    		@media screen and (min-width: $screen-sm-min) {
				mix-blend-mode: normal;
    			left: auto;
    			margin-left: auto;
    		}
		}
		.navbar-nav > li.learnmore-ico > a{
			text-indent: -9999px;
			content: url(../images/learnmore.png);
			padding: 15px;
			left: 50%;
    		margin-left: -31px;
    		@media screen and (min-width: $screen-sm-min) {
    			left: auto;
    			margin-left: auto;
    		}

		}
		.navbar-nav > li > a:hover,
		.navbar-nav > li.active > a:hover,
		.navbar-nav > li > a:focus,
		.navbar-nav > li.active > a:focus{
			background:none;
			color: #fff;
			text-decoration: underline;
		}

		.navbar-collapse.in,
		.navbar-collapse.collapsing{
			position: fixed;
			bottom: 0;
			top: 0;
			right: 0;
			width: 70vw;
			z-index: -1;
			padding-top: 40px;
			max-height: none;
			background-color: rgba(37,37,37,.9);
			box-shadow: 0 1px 2px 0 rgba(0,0,0,.6);
			border:none;
			.navbar-nav > li > a,
			.navbar-nav > li.active > a{
				color: white;
				text-shadow: none;
			}
		}
		.navbar-nav > li.lnk-menu-contact{
			a{
				@extend .btn;
				@extend .btn-small;
				@extend .bg-pcolor;
				margin: 13px ($grid-gutter-width / 2);
			}
		}
		&:not(.menu-bg-page){
			background: none;
			.navbar-brand{
				img{
					-webkit-filter: drop-shadow($txt-shadows);
					filter: drop-shadow($txt-shadows);
				}
			}
			.icon-bar{
				box-shadow: $box-shadows;
			}
			.navbar-nav > li > a{
				text-shadow: $txt-shadows;
			}
			.navbar-nav > li.home-ico > a,
			.navbar-nav > li.learnmore-ico > a{
				-webkit-filter: drop-shadow($txt-shadows);
				filter: drop-shadow($txt-shadows);
			}
		}
		&.menu-bg-page{
			background-color: transparentize($darkgrey, 0.1);
    		box-shadow: $box-shadows;
		}
	}
	#topScroller {
		position: fixed;
		z-index: 1000;
		font-size: 35px;
		color: $pink;
		bottom: 20%;
		right: -4px;
		opacity: 0;
		pointer-events: none;
		transition: opacity 200ms;
		&.showme{
			opacity: 1;
			pointer-events: auto;
		}
	}
}