/* ************ BLOG *********** */
//colors
$allcol: $darkgrey;
$lifestylecol: $pink;
$eventscol: $gold;
$businesscol: $purple;
$newscol: $blue;
$presscol: $green;


.blog-cats{
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 1;
}
.blog-cat{
	display: inline-block;
	font-family: $headings-font-family;
	color: #fff;
	line-height: 35px;
    height: 35px;
    width: 170px;
	margin: 0 -3px;
    text-align: center;
    &:hover{
		text-decoration: none;
		background-color: #ffffff!important;
    }
    &:focus{
		text-decoration: none;
    	color: #ffffff;
    }
	&.cat-all-categories,
	&.loc-all-locations{
		background-color: $allcol;
	    &:hover{
			color: $allcol;
		}
	}
	&.cat-lifestyle,
	&.loc-bangkok{
		background-color: $lifestylecol;
	    &:hover{
			color: $lifestylecol;
		}
	}
	&.cat-events,
	&.loc-phuket{
		background-color: $eventscol;
	    &:hover{
			color: $eventscol;
		}
	}
	&.cat-business,
	&.loc-chiang-mai{
		background-color: $businesscol;
	    &:hover{
			color: $businesscol;
		}
	}
	&.cat-news{
		background-color: $newscol;
	    &:hover{
			color: $newscol;
		}
	}
	&.cat-press{
		background-color: $presscol;
	    &:hover{
			color: $presscol;
		}
	}
}
.blog-container{
	padding: $grid-gutter-width 0 $grid-gutter-width * 9;
	z-index: 1;
}
.blog-tile{
	overflow: hidden;
	padding-top: $grid-gutter-width / 2;
	padding-bottom: $grid-gutter-width / 2;
	&.col-xs-12{
		height: calc((100vw - #{$grid-gutter-width}) * 305 / 370);
	}
	&.col-sm-6{
		@media screen and (min-width: $screen-sm-min) {
			height: calc(#{$container-sm} * 50 / 100 * 305 / 370);
		}
	}
	&.col-sm-12{
		@media screen and (min-width: $screen-sm-min) {
			height: calc(#{$container-sm} * 305 / 370);
		}
		@media screen and (min-width: $screen-md-min) {
			height: calc(#{$container-md} * 305 / 370);
		}
		@media screen and (min-width: $screen-lg-min) {
			height: calc(#{$container-lg} * 305 / 370);
		}
	}
	&.col-md-4{
		@media screen and (min-width: $screen-md-min) {
			height: calc(#{$container-md} * 33.3333333333 / 100 * 305 / 370);
		}
		@media screen and (min-width: $screen-lg-min) {
			height: calc(#{$container-lg} * 33.3333333333 / 100 * 305 / 370);
		}
	}
	&.col-md-8{
		@media screen and (min-width: $screen-md-min) {
			height: calc(#{$container-md} * 33.3333333333 / 100 * 305 / 370 * 2);
		}
		@media screen and (min-width: $screen-lg-min) {
			height: calc(#{$container-lg} * 33.3333333333 / 100 * 305 / 370 * 2);
		}
	}
	&.cat-lifestyle,
	&.loc-bangkok{
		.featured {
			color: $lifestylecol;
		}
		.btile-content,
		.jtile-content{
			border-color: $lifestylecol;
			background-color: $lifestylecol;
			&:hover{
			}
			.btile-title,
			.jtile-title{
				background-color: $lifestylecol;
			}
		}
	}
	&.cat-events,
	&.loc-phuket{
		.featured {
			color: $eventscol;
		}
		.btile-content,
		.jtile-content{
			border-color: $eventscol;
			background-color: $eventscol;
			&:hover{
			}
			.btile-title,
			.jtile-title{
				background-color: $eventscol;
			}
		}
	}
	&.cat-business,
	&.loc-chiang-mai{
		.featured {
			color: $businesscol;
		}
		.btile-content,
		.jtile-content{
			border-color: $businesscol;
			background-color: $businesscol;
			&:hover{
			}
			.btile-title,
			.jtile-title{
				background-color: $businesscol;
			}
		}
	}
	&.cat-news{
		.featured {
			color: $newscol;
		}
		.btile-content{
			border-color: $newscol;
			background-color: $newscol;
			&:hover{
			}
			.btile-title{
				background-color: $newscol;
			}
		}
	}
	&.cat-press{
		.featured {
			color: $presscol;
		}
		.btile-content{
			border-color: $presscol;
			background-color: $presscol;
			&:hover{
			}
			.btile-title{
				background-color: $presscol;
			}
		}
	}
	.featured {
		position: absolute;
		top: 30px;
		right: 30px;
		width: 20px;
		height: 20px;
		background: #fff;
		text-align: center;
		line-height: 20px;
		font-size: 15px;
		text-indent: 3px;
		pointer-events: none;
	}
	.btile-content,
	.jtile-content{
		position: relative;
		display: block;
		height: 100%;
		width: 100%;
		overflow: hidden;
		background-color: #eaeaea;
		border: 15px solid $l_darkgrey;
		&:hover{
			img{
				transition: 2s;
				width: 110%;
				height: 110%;
				object-position: 110% 110%;
			}
		}
		img{
			object-fit: cover;
			object-position: 100% 100%;
			width: 100%;
			height: 100%;
		}
		.btile-title,
		.jtile-title{
			background-color: $l_darkgrey;
		}
		.btile-infos,
		.jtile-infos{
			position: absolute;
			top:50%;
			left:0;
			right:0;
			margin-top: -3em;
			.btile-title,
			.jtile-title{
				display: block;
				color: #ffffff;
				font-family: $headings-font-family;
				font-size: 14px;
				padding: 12px 0;
				text-align: center;
				overflow: hidden;
				text-overflow: ellipsis;
	    		line-height: 1.25em;
	    		margin: 0;
			}
			.btile-date,
			.jtile-date{
				display: block;
				background-color: #ffffff;
				color: $darkgrey;
				font-size: 12px;
				text-align: center;
				padding: 3px 0;
			}
		}
	}
}
/* ----------------------------- */
/* ********* BLOG POST ********* */
body main.main{
	&.cat-lifestyle{
		background-color: $lifestylecol!important;
		.pcolor{
			color: $lifestylecol!important;
		}
		.bg-pcolor{
			background-color: $lifestylecol!important;
			&.btn-bgsplit:before {
				border-color: darken($lifestylecol, 30%) transparent transparent transparent;
			}
			&.btn-bgsplit:after {
				border-color: transparent lighten($lifestylecol, 30%) transparent transparent;
			}
		}
		input#news_email{
			&~button{
				background-color: $lifestylecol;
			}
		}
	}
	&.cat-events{
		background-color: $eventscol!important;
		.pcolor{
			color: $eventscol!important;
		}
		.bg-pcolor{
			background-color: $eventscol!important;
			&.btn-bgsplit:before {
				border-color: darken($eventscol, 30%) transparent transparent transparent;
			}
			&.btn-bgsplit:after {
				border-color: transparent lighten($eventscol, 30%) transparent transparent;
			}
		}
		input#news_email{
			&~button{
				background-color: $eventscol;
			}
		}
	}
	&.cat-business{
		background-color: $businesscol!important;
		.pcolor{
			color: $businesscol!important;
		}
		.bg-pcolor{
			background-color: $businesscol!important;
			&.btn-bgsplit:before {
				border-color: darken($businesscol, 30%) transparent transparent transparent;
			}
			&.btn-bgsplit:after {
				border-color: transparent lighten($businesscol, 30%) transparent transparent;
			}
		}
		input#news_email{
			&~button{
				background-color: $businesscol;
			}
		}
	}
	&.cat-news{
		background-color: $newscol!important;
		.pcolor{
			color: $newscol!important;
		}
		.bg-pcolor{
			background-color: $newscol!important;
			&.btn-bgsplit:before {
				border-color: darken($newscol, 30%) transparent transparent transparent;
			}
			&.btn-bgsplit:after {
				border-color: transparent lighten($newscol, 30%) transparent transparent;
			}
		}
		input#news_email{
			&~button{
				background-color: $newscol;
			}
		}
	}
	&.cat-press{
		background-color: $presscol!important;
		.pcolor{
			color: $presscol!important;
		}
		.bg-pcolor{
			background-color: $presscol!important;
			&.btn-bgsplit:before {
				border-color: darken($presscol, 30%) transparent transparent transparent;
			}
			&.btn-bgsplit:after {
				border-color: transparent lighten($presscol, 30%) transparent transparent;
			}
		}
		input#news_email{
			&~button{
				background-color: $presscol;
			}
		}
	}
}
.blog-header{
	h1,h2{
		&.cat-lifestyle{
			color: $lifestylecol;
		}
		&.cat-events{
			color: $eventscol;
		}
		&.cat-business{
			color: $businesscol;
		}
		&.cat-news{
			color: $newscol;
		}
		&.cat-press{
			color: $presscol;
		}
	}
	h2{
		font-family: $font-family-sans-serif;
		text-shadow: 0 2px 4px rgba(0,0,0,0.5);
	}
}
.ssba-wrap{
	display: none;
}
.ssba-ok .ssba-wrap{
	display: block;
	position: absolute;
	left:0;
	right:0;
	bottom:-40px;
	z-index: 1;
	font-family: inherit!important;
	font-size: inherit!important;
	font-weight: normal!important;
	color: $darkgrey;
	a,
	.ssba_sharecount{
		font-family: inherit!important;
		font-size: inherit!important;
		color: $darkgrey;
	}
	a{
		display: inline-block;
		margin: 6px;
		img{
			display: block!important;
			padding: 0;
		}
	}
}
.blog-content{
	letter-spacing: 0.05em;
	padding-top: $grid-gutter-width*2;
	padding-bottom: $grid-gutter-width*2;
	color: #141414;
	font-size: 21px;
	max-width: 800px;
	margin: auto;
	&.cat-lifestyle{
		a{
			color: $lifestylecol;
			&.btn{
				color: #ffffff;
				background-color: $lifestylecol;
			}
		}
	}
	&.cat-events{
		a{
			color: $eventscol;
			&.btn{
				color: #ffffff;
				background-color: $eventscol;
			}
		}
	}
	&.cat-business{
		a{
			color: $businesscol;
			&.btn{
				color: #ffffff;
				background-color: $businesscol;
			}
		}
	}
	&.cat-news{
		a{
			color: $newscol;
			&.btn{
				color: #ffffff;
				background-color: $newscol;
			}
		}
	}
	&.cat-press{
		a{
			color: $presscol;
			&.btn{
				color: #ffffff;
				background-color: $presscol;
			}
		}
	}
	p{
		margin-bottom: 40px;
	}
	h2,h3,h4{
		font-family: $font-family-sans-serif;
	}
	h3{
		font-size: 1.3em;
		font-weight: bold;
	}
	img{
		@extend .img-responsive;
	}
	.ssba-wrap{
		bottom: 20px;
	}
	#toc_container{
		position: fixed;
		right: 0;
		z-index: 100;
		top: 75px;
		border-radius: 14px 0 0 15px;
		border: none;
		box-shadow: 0 2px 5px rgba(0,0,0,.5);
		.toc_list{
			overflow: auto;
			height: calc(100vh - 148px);
		}
	}
}
/* ----------------------------- */
/* ********* OUTSOURCE ********* */
.flag-testi{
	font-size: 2em;
	position: absolute;
	top: 160px;
	left: 50%;
	margin-left: -0.66em;
	margin-top: -0.5em;
}
#outsourceTestimonials{
	div[class*='col-']{
		height: 320px;
	}
}
.outsource-quote{
	blockquote {
		border: 0;
		position: relative;
		margin: 0;
		padding: 0 2em;
		font-size: $font-size-base;
		&:before,
		&:after{
			position: absolute;
			font-size: 4em;
			line-height: 0.4;
			color: $gold;
		}
		&:before{
			content: "\201C";
			top: 0;
			left: 0;
		}
		&:after{
			content: "\201E";
			bottom: 0.3em;
			right: 0;
		}
	}
	a.author{
		display: block;
	}
}
.lnk-service{
	img{
		transition: 100ms;
	}
	&:hover{
		img{
			transform: scale(1.1);
			filter: drop-shadow(0px 5px 6px rgba(0,0,0,.6));
		}
	}
}
/* ----------------------------- */
/* ********* RELOCATE ********* */
.bloc-min-height{
	min-height: 200px;
}
.office-tile{
	overflow: hidden;
	padding-top: $grid-gutter-width / 2;
	padding-bottom: $grid-gutter-width / 2;
 	&.col-xs-12{
		height: calc((100vw - #{$grid-gutter-width}) * 200 / 225);
	}
	&.col-sm-6{
		@media screen and (min-width: $screen-sm-min) {
			height: calc(#{$container-sm} * 50 / 100 * 200 / 225);
		}
	}
	&.col-md-3{
		@media screen and (min-width: $screen-md-min) {
			height: calc(#{$container-md} * 25 / 100 * 200 / 225);
		}
		@media screen and (min-width: $screen-lg-min) {
			height: calc(#{$container-lg} * 25 / 100 * 200 / 225);
		}
	}
}
.otile-content{
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: #eaeaea;
	border: 10px solid $green;
	&:hover{
		img{
			transition: 2s;
			width: 110%;
			height: 110%;
		}
	}
	img{
		object-fit: cover;
		object-position: 100% 100%;
		width: 100%;
		height: 100%;
	}
	.otile-title{
		background-color: $green;
	}
	.otile-infos{
		position: absolute;
		top:50%;
		left:0;
		right:0;
		margin-top: -1.4em;
		.otile-title{
			display: block;
			color: #ffffff;
			font-family: $headings-font-family;
			font-size: 14px;
			padding: 12px 0;
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
    		line-height: 1.25em;
    		margin: 0;
		}
		.otile-add{
			display: block;
			background-color: #ffffff;
			color: $darkgrey;
			font-size: 12px;
			text-align: center;
			padding: 3px 0;
		}
	}
}
/* ----------------------------- */
/* ********* PAGE DEFAULT ********* */
.page-header{
	margin: 0;
	border: none;
}
.page-content,
.cv-contact{
	a{
		@extend .pcolor;
	}
	.gform_fields{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.gfield_radio,
	.gfield_checkbox{
		li{
			display: inline-block;
			margin-right: $grid-gutter-width;
		}
	}
	.gform_body{
		@extend .row;
	}
	.ginput_container{
		position: relative;
		input:not([type='radio']):not([type='checkbox']),
		textarea{
			width: 100%;
			border: none;
			border-bottom: 1px solid;
			padding: 15px 0;
			outline: none;
		}
		select{
			display: block;
			width: 100%;
			outline: none;
			margin-top: $grid-gutter-width/2;
			+label{
				border-top: 1px solid;
				margin-top:  $grid-gutter-width/2;
			}
		}
		textarea{
			height: 18vh;
			resize: vertical;
		}
		input[type='radio']{
			margin-right: $grid-gutter-width/2;
		}
		input:not([type='radio']):not([type='checkbox']) + label,
		select + label{
			display: block;
		}
		input[type='radio'] + input[type='text'] {
			width: auto;
		}
	}
	.gfield{
		margin-bottom: $grid-gutter-width;
	}
	.gfield_required{
		@extend .pcolor;
	}
	.gfield_label{
		margin-bottom: 0;
		font-family: $headings-font-family;
		font-weight: normal;
		font-size: $font-size-small;
		color: $darkgrey;
	}
	.gfield_description{
		color: $blue;
		font-size: $font-size-small;
	}
	.validation_error,
	.validation_message{
		color: $brand-danger;
		font-size: $font-size-small;
	}
	.gform_save_link{
		margin-left: $grid-gutter-width/2;
	}
	.datepicker_with_icon{
		padding-left: $grid-gutter-width!important;
		+img{
			position: absolute;
			left: 0;
			top: 18px;
		}
	}
	.gform_footer{
		margin-top: $grid-gutter-width/2;
	}
	.gform_button{
		@extend .bg-pcolor;
		@extend .btn;
		@media screen and (max-width: $screen-xs-min) {
			height: 30px;
			line-height: 21px;
			font-size: 13px;
		}
	}
	.ginput_full{
		display: block;
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
		margin-bottom: $grid-gutter-width/2;
	}
	.ginput_left,
	.ginput_right{
		display: inline-block;
		float: left;
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
		width: 50%;
		margin-bottom: $grid-gutter-width/2;
	}
	.form_saved_message_emailform{
		input[type='email']{
			width: 30%;
			border: none;
			border-bottom: 1px solid;
			padding: 15px 0;
			outline: none;
			@media screen and (max-width: $screen-xs-min) {
				width: 100%;
			}
		}
		input[type='submit']{
			@extend .bg-pcolor;
			@extend .btn;
			margin-left: $grid-gutter-width/2;
			@media screen and (max-width: $screen-xs-min) {
				height: 30px;
				line-height: 21px;
				font-size: 13px;
			}
		}
	}
	.hide-input{
		input{
			display: none;
		}
	}
	.gf_clear{
		@extend .clearfix;
	}
	.ginput_complex{
		border-left: 15px solid transparentize($blue, 0.8);
	}
	.gfield_visibility_{
		display: none;
	}
	.gform_confirmation_message{
		@extend .pcolor;
	}
}
/* ----------------------------- */
/* ********** JOBS PAGE ******** */
.job-container{
	.scene{
		padding-top: $grid-gutter-width * 3;
	}
	&:nth-child(odd){
		@extend .bg-stripes-left;
		@extend .bg-white;
		&:not(:last-child){
			.scene{
				@extend .tg-bl;
				@extend .tg-darkgrey;
			}
		}
	}
	&:nth-child(even){
		@extend .bg-stripes-right;
		@extend .bg-darkgrey;
		&:not(:last-child){
			.scene{
				@extend .tg-br;
				@extend .tg-white;
			}
		}
	}	
	&:last-child{
		border-bottom: 1px solid;
	}
}
/* ----------------------------- */
/* ********** PARTNERS ********* */
.partners-content{
	a{
		display: inline-block;
	}
}
/* ----------------------------- */
/* ********** RESOURCES ******** */
.resources-row{
	display: block;
	position: relative;
	overflow: hidden;
	height: calc(45px * 2);
	color: $darkgrey;
	border-radius: $btn-border-radius-base;
	box-shadow: $box-shadows;
	transition: 300ms;
	margin-left: $grid-gutter-width/2;
	margin-right: $grid-gutter-width/2;
	@media screen and (min-width: $screen-md-min) {
		height: 45px;
	}
	&.available-true{
		background-color: $green;
	}
	&.available-false{
		background-color: $gold;
	}
	&:before,
	&:after{
		width: 0;
		height: 0;
		position: absolute;
		right: 0;
		top: 0;
		border-style: solid;
		opacity: 0.2;
		z-index: 0;
		@media screen and (min-width: $screen-md-min) {
			content: '';
		}
	}
	&:before{
	 	border-width: 71px 0 0 176px; 
	}
	&:after{
	    border-width: 35.5px 90px 35.5px 0;
	}
	.res-dispo, .res-jobtitle, .res-topskills, .res-more {
		height: 45px;
		display: flex;
		align-items: center;
		@media screen and (min-width: $screen-md-min) {
			height: 100%;
		}
		span,em{
			display: block;
			width: 100%;
			text-align: center;
			@media screen and (min-width: $screen-md-min) {
				text-align: left;
			}
		}
	}
	.res-dispo{
		position: relative;
		overflow:hidden;
		background-color: $darkgrey;
		&:before,
		&:after{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			position: absolute;
			right: 0;
		}
		&:before{
			border-width: 22.5px 0 0 50vw;
			left: 0;
			bottom: 0;
			right: auto;
			@media screen and (min-width: $screen-md-min) {
				border-width: 0 22.5px 22.5px 0;
				top: 0;
				left: auto;
				right: 0;
				bottom: auto;
			}
		}
		&:after{
			border-width: 0 0 22.5px 50vw;
			bottom: 0;
			top: auto;
			@media screen and (min-width: $screen-md-min) {
				border-width: 0 0 22.5px 22.5px;
			}
		}
	}
	.res-jobtitle{
		font-family: $headings-font-family;
	}
	.res-more{
		text-decoration: underline;
	}
	.res-topskills,
	.res-more{
		display: none;
		@media screen and (min-width: $screen-md-min) {
			display: flex;
		}
	}
	.res-topskills{
		b.separator:last-child {
		    display: none;
		}
	}
	&.available-true{
		&:before {
			border-color: darken($green, 30%) transparent transparent transparent;
		}
		&:after {
			border-color:  transparent lighten($green, 30%) transparent transparent;
		}
		.res-dispo{
			&:before{
				border-color: transparent transparent transparent $green;
				@media screen and (min-width: $screen-md-min) {
					border-color: transparent $green transparent transparent;
				}
			}
			&:after{
				border-color: transparent transparent $green transparent;
			}
		}
	}
	&.available-false {
		&:before {
			border-color: darken($gold, 30%) transparent transparent transparent;
		}
		&:after {
			border-color: transparent lighten($gold, 30%) transparent transparent;
		}
		.res-dispo{
			&:before{
				border-color: transparent transparent transparent $gold;
				@media screen and (min-width: $screen-md-min) {
					border-color: transparent $gold transparent transparent;
				}
			}
			&:after{
				border-color: transparent transparent $gold transparent;
			}
		}
	}
	&:hover{
		color: $darkgrey;
		box-shadow: none;
    	transform: translateY(2px) scale(0.98);
	}
}
/* ----------------------------- */
/* ************* CV ************ */
.cv-list{
	list-style: none;
	padding: 0;
	li{
		clear: both;
	}
}
.top-skill{
	font-weight:bold;
	font-style: italic;
	color: $purple;
}
.cv-contact{
	#field_9_9,
	.gform_footer{ //WARNING : this is for the reCAPTCHA field that can't receive new classes
		@extend .col-xs-12;
		@extend .col-sm-offset-2;
		@extend .col-sm-8;
	}
}
b.separator:last-child {
    display: none;
}
/* ----------------------------- */
